<div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.tags && page.tags.length){ %>
        <%
            const tags = page.tags.toArray ? page.tags.toArray() : page.tags;
            tags.forEach(function(tag) {
        %>
            <a class="nexmoefont icon-tag-fill" href="<%- url_for(tag.path) %>"><%= tag.name %></a>
        <% }) %>
    <% } %>
</div>
