<div class="nexmoe-drawer nexmoe-pd" id="drawer">
  <% theme.pendants.forEach(function(pendant){ %>
    <% if(pendant.enable){ %>
      <%- partial('_pendant/' + pendant.name, {options: pendant.options}) %>
    <% } %>
  <% }) %>
</div>
<style>
  .nexmoe-pd {
    position: fixed;
    left: auto;
    top: 28px;
    right: 24px;
    z-index: 38;
    width: 320px;
    max-height: calc(100vh - 56px);
    overflow: visible;
    pointer-events: none;
  }
  .nexmoe-pd-item {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 14px;
    pointer-events: auto;
  }
  #nexmoe-pendant .mdui-drawer { width: 320px; }
  @media screen and (max-width: 1480px) {
    #nexmoe-pendant { display: none; }
  }
</style>